@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');

:root {
	--background-001: #242d39bf;
	--background-002: #10253cbf;
	--background-003: #000000bf;
	--background-004: #253237;
	--background-005: #000000;
	--background-006: #ffffff;
	--background-007: #09203f;
	--background-008: #537895;
	--background-009: #ffffff26;
	--background-010: #ffffff66;
	--background-011: #989898;
	--background-012: #00000066;
	--background-013: #00000026;
	--background-014: #10253c;
	--background-015: #242d39;
	--background-016: #4a626e;
	--background-017: #1e2130;
}

:root,
html,
body,
main {
	background: var(--background-005);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Kanit', sans-serif;
	color: var(--background-006);

	margin: 0;
	padding: 0;

	max-height: 100vh;
	max-width: 100vw;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
