@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap');

:root {
	--background-001: #1a23a073;
	--background-002: #15db9573;
	--background-003: #00ff0075;
	--background-004: #00000035;
	--background-005: #000000;
	--background-006: #ffffff;
}

:root,
html,
body,
main {
	background: var(--background-005);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Kanit', sans-serif;
	color: var(--background-006);

	margin: 0;
	padding: 0;

	max-height: 100vh;
	max-width: 100vw;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
